html, body {
    background-color:#fff;
    
}

.app-title {
    text-align:center;
    color:#e6df7a!important;
}

.text-center {
    text-align:center!important;
}
.song-title {
    padding:2.5em;
}
.lyricsContainer {
    text-align:center;
}